* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #008000;
}
button {
  cursor: pointer;
}
input,
button {
  font: 1.6rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
}
input:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.7);
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.overlay > div {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 40rem;
}
.overlay > div > * {
  margin: 2rem;
}
.fw {
  width: 100%;
}
.success {
  color: #40f040;
}
.error {
  color: #c04040;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #be6969;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 0.5rem;
}

header a:hover {
  color: #008000;
}

.brand a {
  font-size: 3rem;
  font-weight: bold;
  padding-left: 1rem;
}

footer {
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/*Form*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.form-items {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-items li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-container h1 {
  font-size: 2.5rem;
}
/*profile*/
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.profile-info {
  flex: 1 1 30rem;
}
#renderCanvas {
  outline: none;
  height: 810px;
  width: 100%;
}
.notation ul {
  padding: 1rem;
}
.notation ul li {
  list-style: none;
  padding-left: 1rem;
  padding-top: 1rem;
  border-bottom: 5px solid #40f040;
}
.two-d-boards {
  height: 100%;
  display: block;
}
.two-d-boards table {
  display: inline-block;
  width: 40%;
  height: 40%;
}
.two-d-boards table tbody {
  display: block;
  height: inherit;
  padding-top: 1rem;
  padding-right: 1rem;
}
.two-d-boards table tbody tr {
  display: block;
  height: inherit;
}
.two-d-boards table tbody tr td {
  display: inline-block;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.two-d-boards table tbody tr td img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.dark {
  background-color: rgb(167, 110, 69);
}
.light {
  background-color: rgb(228, 228, 135);
}
.move-dest-dark {
  background: -webkit-radial-gradient(
    center,
    rgb(43, 53, 37) 20%,
    rgb(167, 110, 69) 10%,
    rgb(167, 110, 69)
  );
}
.move-dest-light {
  background: -webkit-radial-gradient(
    center,
    rgb(41, 58, 41) 20%,
    rgb(228, 228, 135) 10%,
    rgb(228, 228, 135)
  );
}
.move-dest-kill {
  background: red;
}
.selected {
  width: 80% !important;
  height: 80% !important;
  display: block !important;
}
#side-table {
  align-items: center;
  padding-top: 5rem;
}
